@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    background-color: #404258;
    color: white;
}

h1 {
    color: whitesmoke;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 80px;
    margin-bottom: 20px;
    margin-top: 80px;
}


#seleccionar_mascota {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarjeta {
    width: 137px;
    height: 190px;
    padding: 10px;
    box-sizing: border-box;
    background: #6B728E;
    margin: 5px;
    border: 1px solid;
    border-color: #EB6440;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tarjeta:hover {
    background-color: #50577A;
} 
.input_mascota:checked +label {
    background-color: #50577A;
}
.input_mascota:active +label {
    background-color: #545c85;
}
.botones_ataque:hover {
    background-color: #50577A;
} 
.botones_ataque:active {
    background-color: #5e6891;
}

.imagen_pokemon {
    width: 100px;
}

input {
    display: none;
}

.tarjetitas {
    display: flex;
    flex-direction: row;
}

button {
    border-width: 2px;
    font-family: 'Press Start 2P', cursive;
    background-color: #6B728E;
    border: 1px solid;
    border-color: #EB6440;
    border-radius: 5px;
    font-size: 12px;
    color: white;
    padding: 16px;
}
#boton_mascota {
    margin: 30px;
}
.botones_ataque{
    margin-top: 20px;
    margin-bottom: 10px;
    border-width: 2px;
    font-family: 'Press Start 2P', cursive;
    background-color: #6B728E;
    border: 2px solid;
    border-color: #EB6440;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    padding: 16px;
}

.tarjeta p {
    margin-bottom: 25px;
}
#seleccionar_ataque {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#seccion_reiniciar {
    justify-content: center
}

#contenedor_vidas {
    display: flex;
    align-items: center

}
#contenedor_vidas div {
    margin: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contenedor_vidas h2 {
    font-size: 28px;
    margin: 1px 0px;
}
#div_vidas span {
    font-size: 15px;
}
#marcador_ataques {
    width: 330px;
    text-align: center;
    font-size: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#marcador {
    display: none;
}
#mensajes {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#mAtaques {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#mAtaques p {
    margin: 10px 70px;
}
#notificaciones {
    width: 320px;
    height: 50px;
    border: 2px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;

    
}
#boton_reiniciar {
    margin-top: -45px;
}
@media (max-width: 870px) {
    .tarjetitas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        }
}
@media (max-width: 700px) {
    h1 {
        margin-top: 10px;
        font-size: 60px;
    }
    h2 {
        font-size: large;
        text-align: center;
    }
    #h2_ataque {
        display: none;

    }
    .tarjetitas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    }
    .tarjeta {
        width: 140px;
    }
    #div_botones_ataque {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
    .botones_ataque {
        margin: 5px;
        font-size: 10px;
    }
    #contenedor_vidas {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .imagen_personaje {
        width: 80px;
        height: 80px;
    }
    #contenedor_vidas h2 {
        font-size: 18px;
        margin: 1px 0px;
    }
    #contenedor_vidas p {
        margin: 0px;
    }
    #notificaciones {
        margin: 5px;
    }

}
